# Virtual environment
.venv/
artifacts/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/
.env
**/.plane.env
plans

# OS
.DS_Store
Thumbs.db
